body {
    background-color: #f0f4f8;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 5em;
    margin-top: 40px;
    max-width: 900px;
    height: 970px;
    max-height: 970px;
    overflow: hidden;
}

h2 {
    color: #333;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.btn {
    padding: 12px 24px;
    font-size: 1rem;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary {
    background-color: #3498db;
    border-color: #3498db;
}

.btn-primary:hover {
    background-color: #2980b9;
    box-shadow: 0 4px 12px rgba(52, 152, 219, 0.4);
}

.btn-danger {
    background-color: #e74c3c;
    border-color: #e74c3c;
}

.btn-danger:hover {
    background-color: #c0392b;
    box-shadow: 0 4px 12px rgba(231, 76, 60, 0.4);
}

.form-inline {
    display: inline;
}

.action-buttons {
    margin-top: 30px;
    text-align: center;
}

.form-control {
    background-color: #dddddd;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

legend {
    font-weight: 700;
}

label {
    font-size: 18px; /* 글씨 크기 */
    margin-top: 10px; /* 간격 조절 */
}
