<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Google Maps Address Search with Place Selection</title>
  <link th:href="@{/css/map.css}" rel="stylesheet">
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmUNKi79QJtTDCBYn4DHDnOi9gnT0KaII&libraries=places&callback=initMap" async defer></script>
  <script th:src="@{/js/map.js}"></script>
</head>
<body>
<h3 style="text-align: center;">당신의 발자취를 찍어보세요!</h3>
<div id="search-container">
  <input id="address" type="text" placeholder="위치를 검색하세요" oninput="searchPlace()" />
  <ul id="place-list"></ul>
</div>
<div id="map"></div>

<!-- 닫기 버튼 추가 -->
<div style="text-align: center; margin-top: 20px;">
  <button id="close-btn" style="padding: 10px 20px; font-size: 16px;">닫기</button>
</div>
</body>
</html>