<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 앨범 리스트 조회 - 여기보세요</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/random-list.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css">
</head>
<body>
<div class="container">
    <div class="search-toggle text-center mb-2">
        <span onclick="toggleSearchSection()" style="cursor: pointer;">
            <i class="fas fa-search"></i> 검색하기
        </span>
        <div id="search-section" class="search-section">
            <p class="search-title">여행 앨범 검색</p>
            <div class="mb-3 text-center">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="theme-option" name="searchOption" value="theme"
                           onclick="toggleInputFields()">
                    <label class="form-check-label option-label" for="theme-option">테마별 검색</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" id="region-option" name="searchOption" value="region"
                           onclick="toggleInputFields()">
                    <label class="form-check-label option-label" for="region-option">지역별 검색</label>
                </div>
            </div>

            <form th:action="@{/api/travel/search}" method="get" class="search-form">
                <input type="hidden" name="isPublic" value="1"/>
                <div id="theme-container" class="mb-3 theme-container" style="display: none;">
                    <label for="theme-input" class="form-label">테마</label>
                    <input id="theme-input" name="theme" type="text" class="form-control" placeholder="테마를 입력해주세요">
                </div>
                <div id="region-container" class="mb-3 region-container" style="display: none;">
                    <label for="region-select" class="form-label">지역</label>
                    <select id="region-select" name="region" class="form-select">
                        <option value="" disabled selected>지역을 선택해주세요.</option>
                        <option value="서울">서울</option>
                        <option value="인천">인천</option>
                        <option value="부산">부산</option>
                        <option value="대구">대구</option>
                        <option value="광주">광주</option>
                        <option value="대전">대전</option>
                        <option value="울산">울산</option>
                        <option value="세종">세종</option>
                        <option value="경기도">경기도</option>
                        <option value="강원도">강원도</option>
                        <option value="충청도">충청도</option>
                        <option value="전라도">전라도</option>
                        <option value="경상도">경상도</option>
                        <option value="제주도">제주도</option>
                    </select>
                </div>
                <button type="submit" class="search-button">Search</button>
            </form>
        </div>
    </div>

    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div th:each="response : ${randomResponses}" class="swiper-slide">
                <div class="thumbnail-container">
                    <a th:href="@{/api/travel/detail/{id}(id=${response.id})}" class="thumbnail-link">
                        <img th:src="@{${response.thumbnail}}" alt="앨범 이미지" class="result-image img-thumbnail">
                    </a>
                    <div class="album-info">
                        <h4>랜덤 여행 기록!</h4>
                        <h2 class="album-title" th:text="${response.title}"></h2>
                        <p class="album-date-range"><span th:text="${response.dateRange}"></span></p>
                        <p class="album-nickname"><span th:text="${response.nickname}"></span> 님의 여행</p>
                        <p class="album-region">️<span th:text="${response.region}"></span></p>
                        <ul class="tag-list">
                            <li th:each="theme : ${response.travelThemeList}" class="tag-item">
                                <a th:href="@{/api/travel/search(region=${region}, isPublic=1, theme=${theme.name})}"
                                   th:text="'#'+${theme.name}" class="text-black"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>

    <div class="col-12">
        <h3>🌟방금 올라온 여행기록이에요!</h3>
        <div class="album-container row">
            <div th:each="album : ${dateRangeRes}" class="col-md-3">
                <div class="album-card">
                    <a th:href="@{/api/travel/detail/{id}(id=${album.id})}">
                        <img th:src="@{${album.thumbnail}}" alt="앨범 이미지" class="img-thumbnail album-thumbnail">
                    </a>
                    <div class="album-info-1">
                        <h6 class="title" th:text="${album.title}"></h6>
                        <p class="nickname" th:text="${album.nickName}+'님의 여행'">작성자</p>
                        <p class="travel-date" th:text="${album.dateRange}">기간</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: bottomMenu"></div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/random-list.js"></script>
<script>
    const swiper = new Swiper('.swiper-container', {
        loop: true,
        autoplay: {
            delay: 3000,
            disableOnInteraction: false,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        spaceBetween: 30, // 슬라이드 간의 간격 조정
        slidesPerView: 1,
    });
</script>
</body>
</html>