<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/region-theme-list.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
<div class="container">
    <div class="header-container">
        <button class="back-btn" onclick="history.back()"><i class="fas fa-arrow-left"></i></button>
        <h3 class="results-header">
                <span th:if="${theme != null and theme != '' and region != null and region != ''}"
                      th:text="${region} + '와(과) ' + ${theme} + '에 대한 앨범 검색'">테마와 지역에 대한 앨범 검색</span>
            <span th:if="${theme != null and theme != '' and (region == null or region == '')}"
                  th:text="${theme} + '에 대한 앨범 검색'">테마에 대한 앨범 검색</span>
            <span th:if="${(theme == null or theme == '') and region != null and region != ''}"
                  th:text="${region} + '에 대한 앨범 검색'">지역에 대한 앨범 검색</span>
            <span th:if="${(theme == null or theme == '') and (region == null or region == '')}"
                  th:text="'검색 결과'">검색 결과</span>
        </h3>
    </div>
    <div class="results-grid">
        <div th:each="album : ${albums}" class="result-item">
            <a th:href="@{/api/travel/detail/{id}(id=${album.id})}" class="text-decoration-none text-dark">
                <img th:src="${album.thumbnail}" alt="앨범 이미지" class="result-image">
                <div>
                    <h2 th:text="${album.title}" class="result-title">앨범 제목</h2>
                    <p th:text="${album.dateRange}" class="result-date">여행 날짜</p>
                </div>
            </a>
        </div>
    </div>
    <div th:replace="fragments/footer :: bottomMenu"></div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
<script src="/js/region-theme-list.js"></script>
</body>
</html>